<div class="col-sm-4" ng-repeat="product in $ctrl.products">
  <div class="product-image-wrapper">
    <div class="single-products">
        <div class="productinfo text-center">
          <img src="images/home/{{product.image}}" alt="" />
          <h2>{{product.price  | number:2 | currency}}</h2>
          <h5>{{product.name}}</h5>
          <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
        </div>
        <div class="product-overlay ">
          <div class="overlay-content">
          <h5 class="left left-indent-20">Description</h5>
          <div ng-repeat="(key, value) in product.description" class="left left-indent-20"><span class="">{{key}}:</span> {{value}}</div>
              <h2>{{product.price | number:2 | currency}}</h2>
            <h5>{{product.name}}</h5>
            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
          </div>
        </div>
    </div>
    <div class="choose">
      <ul class="nav nav-pills nav-justified">
        <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
      </ul>
    </div>
  </div>
</div>