<div class="col-sm-4" ng-repeat="product in ::$ctrl.products track by $index" ng-click="$event.stopPropagation();">
  <div class="product-image-wrapper">
    <div class="single-products " ng-class="{overlay: !$ctrl.editMode[$index]}">
        <div class="productinfo text-center">
          <img src="images/home/{{product.image}}" alt="" />
          <h5>{{product.name}}</h5>
          <h2>{{product.price  | number:2 | currency}}</h2>
          
          <a ng-if="$root.ActiveUser" href="#" class="btn btn-default add-to-cart" ><i class="fa fa-shopping-cart"></i>Add to cart</a>
        </div>

          <!-- VIEW MODE -->
        <div ng-if="!$ctrl.editMode[$index]"   class="product-overlay " ng-class="{display: $ctrl.editMode[$index]}">
          <div class="overlay-content">
          <h5 ng-bind="product.name"></h5>
          <!-- <h5 class="left left-indent-20">Description</h5> -->
            <p class="left" ng-bind="product.description"></p>
              <h2>{{product.price | number:2 | currency}}</h2>
            
            <a ng-if="$root.ActiveUser" href="#" class="btn btn-default add-to-cart" ><i class="fa fa-shopping-cart"></i>Add to cart</a>
            
          </div>
        </div>

        <!-- EDIT MODE -->
        <div ng-if="$ctrl.editMode[$index]" class="product-overlay " ng-class="{display: $ctrl.editMode[$index]}">
          <div class="overlay-content">
            <div class="left marg-b">
              <lable>Name: <input type="text" class="edit-bg width-100" ng-model="$ctrl.editProduct.name" ng-init="$ctrl.editProduct.name = product.name" /></lable>
            </div>
              
          <div class="left ">Description:</div>
            <textarea  ng-model="$ctrl.editProduct.descroption" ng-init="$ctrl.editProduct.descroption = product.description" class="textarea edit-bg marg-b"></textarea>

          <div class="left marg-b">  
            <lable for="price">Price: <input name="price" ng-model="$ctrl.editProduct.price" ng-init="$ctrl.editProduct.price = product.price" class="edit-bg width-100" /></lable> 
          </div>

          </div>
        </div>
        <!-- /EDIT MODE -->

    </div>
    <div class="choose" ng-if="$root.ActiveUser">
      <ul class="nav nav-pills nav-justified">
        <li ><a  ><i class="fa fa-plus-square"></i>Add to wishlist</a></li>

        <li ><a  ><i class="fa fa-plus-square"></i>Select</a></li>

        <li  ng-if="!$ctrl.editMode[$index]" ng-click="$ctrl.productEdit(product, $index); $ctrl.editMode[$index] = !$ctrl.editMode[$index]"><!--$ctrl.editMode[$index] = !$ctrl.editMode[$index]-->
          <a >
           <i class="fa fa-pencil" aria-hidden="true"></i>
            Edit product
          </a>
        </li>
        <li ng-if="$ctrl.editMode[$index]" ng-click="$ctrl.productEdit(product, $index); $ctrl.editMode[$index] = !$ctrl.editMode[$index]"><!--$ctrl.editMode[$index] = !$ctrl.editMode[$index]-->
        <a >
          <i class="fa fa-check" aria-hidden="true"></i>
          Save changes</a>
        </li> 
        

      </ul>
    </div>
  </div>
</div>