<div class="modal-header">
    <h3 class="modal-title ">Edit account</h3>
</div>

<div class="modal-body">
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" name="firstName" placeholder="first name"
         ng-model="$ctrl.userEdit.meta.firstname" ng-init="$ctrl.userEdit.meta.firstname = user.meta.firstname">
    </div>

    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" placeholder="last name" ng-model="$ctrl.userEdit.meta.lastname" ng-init="$ctrl.userEdit.meta.lastname = user.meta.lastname">
    </div>

    <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="text" class="form-control" placeholder="email" ng-model="$ctrl.userEdit.email" ng-init="$ctrl.userEdit.email = user.email">
    </div>
     <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="text" class="form-control" placeholder="email" ng-model="$ctrl.userEdit.phone" ng-init="$ctrl.userEdit.phone = user.phone">
    </div>
    <div class="form-group">
        <label for="password">Current password:</label>
        <input type="password" class="form-control" placeholder="Your current password" ng-model="$ctrl.userEdit.password" ng-change="ready()">
    </div>

    <div class="form-group">
        <input type="checkbox" id="changePass" ng-model="$ctrl.changePassword">
        <label for="changePass">change password</label>
    </div>

    <div ng-show="changePassword">
        <div class="form-group">
            <input type="password" class="form-control" name="newPassword" placeholder="New password" ng-model="$ctrl.userEdit.newPassword">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" name="replaceNewPassword" placeholder="Repeat password" ng-model="$ctrl.userEdit.repeatNewPassword">
        </div>
    </div>

    <div class="alert alert-danger text-center" ng-show="error">
        {{error}}
    </div>
</div>
    
<div class="modal-footer">
    <button class="btn btn-success" ng-click="$ctrl.ok()" type="button" ><!--ng-disabled="!isValid() || working"-->
        <i ng-show="finish" class="fa fa-check"></i>
        <i class="fa fa-circle-o-notch fa-spin" ng-show="working && !finish"></i> 
        sav{{ !$ctrl.working ? 'e' : $ctrl.finish ? 'ed' : 'ing'}}
    </button>
       
    <button class="btn btn-danger ng-binding" type="button" ng-click="$ctrl.cancel()">
        <i class="fa fa-times" ng-class="params.cancel.icon"></i> cancel
    </button>
</div>
